/*==========================================
HISTORY PAGE
==========================================*/

.history-page {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 28px;
  padding: 30px 0;
}

/*==========================================
RESPONSIVE
==========================================*/

@media (max-width: 992px) {
  .history-page {
    gap: 24px;
    padding: 24px 0;
  }
}

@media (max-width: 768px) {
  .history-page {
    gap: 20px;
    padding: 18px 0;
  }
}
